@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i);
a:focus,
a:hover {
    text-decoration: none!important
}

.top-section .top-right-section,
.top-section .top-right-section .follows-top,
.top-section .top-right-section .free-consultation {
    float: right
}

@font-face {
    font-family: NirmalaB;
    src: url(../fonts/NirmalaB.ttf)
}

@font-face {
    font-family: Nirmala;
    src: url(../fonts/Nirmala-R.ttf)
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Nirmala;
    font-weight: 400;
    font-size: 14px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    overflow-x: hidden;
    overflow-x: -moz-scrollbars-none;
    background: #fff
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear {
    clear: both
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 30px
}

h4 {
    font-size: 25px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 18px
}

h7 {
    font-size: 12px
}

p {
    font-size: 15px;
    line-height: 24px;
    font-family: Nirmala;
    font-weight: 500;
    color: #4f5459
}

.banner .slide-box .banne-cont .sub-head,
.ceo-message .story-footer h5,
.clients .story-box .title,
.footer .title,
.main-title,
.main-title span,
.service-sec .service-box .service-tilte,
.speciality .special-box .title,
.welcome-sec .ceo-message .title,
.why-choose .testimonial .testi-footer .title,
.why-choose .y-choose-cntnt ul li {
    font-family: 'Playfair Display', serif
}

a {
    -webkit-transition: color .3s, background-color .3s;
    -moz-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s
}

a:focus {
    outline: 0
}

.pad0 {
    padding: 0
}

.ptop0 {
    padding-top: 0
}

.pbtm0 {
    padding-bottom: 0
}

.prit0 {
    padding-right: 0
}

.plft0 {
    padding-left: 0
}

.mtop0 {
    margin-top: 0
}

.mbtm0 {
    margin-bottom: 0
}

.mrit0 {
    margin-right: 0
}

.mleft0 {
    margin-left: 0
}

.main-contact-icon-right-sd .call-right:before,
.main-contact-icon-right-sd:before {
    margin: 0 auto;
    left: 0;
    display: inline-block;
    content: ""
}

.main-contact-icon-right-sd {
    position: fixed;
    right: 30px;
    top: 263px;
    z-index: 2
}

.main-contact-icon-right-sd:before {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #c5c5c5;
    right: 0;
    z-index: 0
}

.main-contact-icon-right-sd .call-right {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background: url(../images/icon/call-icon.png) center center no-repeat #1569a8;
    z-index: 1;
    margin: 20px 0;
    cursor: pointer
}

.main-contact-icon-right-sd .slide-left {
    position: absolute;
    background: #fff;
    width: 0;
    height: 42px;
    right: 40px;
    top: 0;
    font-size: 13px;
    line-height: 15px;
    color: #161515;
    padding: 13.5px 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 0;
    opacity: 0;
    overflow: hidden;
    border: 1px solid #166aa8;
    transition: ease-in-out 1s
}

.main-contact-icon-right-sd .mail-right .slide-left {
    border-color: #0e0e0e
}

.main-contact-icon-right-sd .quick-contact:hover .slide-left {
    opacity: 1;
    transition: ease-in-out 1s;
    width: 150px
}

.main-contact-icon-right-sd .quick-contact span {
    opacity: 0
}

.main-contact-icon-right-sd .quick-contact:hover .slide-left span {
    opacity: 1;
    transition: ease-in-out 3s;
    width: 150px
}

.main-contact-icon-right-sd .call-right:before {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #c5c5c5;
    border-radius: 50px;
    top: -20px;
    right: 0;
    z-index: 0
}

.main-contact-icon-right-sd .mail-right {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background: url(../images/icon/mail-icon.png) center center no-repeat #0e0e0e;
    z-index: 1;
    margin-bottom: 20px;
    cursor: pointer
}

.main-contact-icon-right-sd .mail-right:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #c5c5c5;
    border-radius: 50px;
    bottom: -20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 0
}

.header {
    background: #fff
}

.header-fixed {
    display: none
}

.navbar-custom {
    -webkit-transition: background .8s ease-in-out, padding .8s ease-in-out;
    -moz-transition: background .8s ease-in-out, padding .8s ease-in-out;
    transition: background .8s ease-in-out, padding .8s ease-in-out
}

.navbar-custom.top-nav-collapse .header-fixed {
    background: #fff;
    display: block
}

.navbar-custom.top-nav-collapse .head-middle-section {
    box-shadow: none
}

.navbar-custom.top-nav-collapse .head-middle-section::after {
    content: '';
    position: absolute;
    right: -1110px;
    background: #1569a8;
    top: 0;
    width: 100%;
    height: 100%;
}

.navbar-custom.top-nav-collapse .head-middle-section .logo {
    padding: 10px 25px;
    width: 135px
}

.navbar-custom.top-nav-collapse .navbar-nav li a {
    line-height: 65px
}

.top-section {
    color: #4c4b4b;
    padding: 14px 0;
    transition: .5s;
    position: relative;
    z-index: 2
}

.top-section .top-cont-left {
    font-size: 13px;
    font-weight: 600;
    color: #107ac1
}

.top-section .top-right-section .free-consultation a {
    color: #fff;
    padding: 12px
}

.top-section .top-right-section .free-consultation a span {
    background: #3d3e3d;
    border: 1px solid #3d3e3d;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px
}

.top-section .top-right-section .free-consultation a span:hover {
    background: #107ac1;
    border-color: #107ac1
}

.top-section .top-right-section .follows-top li {
    float: left;
    margin-left: 13px
}

.top-section .top-right-section .follows-top li a {
    color: #5c5c5c;
    display: block;
    font-size: 15px
}

.top-section .top-right-section .follows-top li:hover a {
    color: #1569a8
}

.top-section .top-right-section .top-contact {
    float: right;
    padding-right: 40px
}

.top-section .top-right-section .top-contact .link {
    color: #393838;
    font-size: 13px;
    background: url(../images/icon/top-contact2.png) 0 4px no-repeat;
    padding-left: 23px
}

.top-section .top-right-section .top-contact .link2 {
    background: url(../images/icon/top-contact.png) 0 2px no-repeat
}

.header .head-middle-section {
    box-shadow: 0 0 29px rgba(0, 0, 0, .1);
    background: #1569a8;
    position: relative;
    margin-bottom: -49px;
    z-index: 2
}

.header .head-middle-section .logo {
    padding: 10px 0;
    width: 215px;
    text-align: center;
    background: #fff
}

.header .head-middle-section .menu-button {
    display: none
}

.main-nav-section .navbar {
    padding: 0
}

.main-nav-section .navbar-nav li a {
    color: #fff;
    padding: 0 20px;
    line-height: 95px;
    text-transform: uppercase;
    display: block
}

.main-nav-section .navbar-nav li a:hover {
    background: #1571b5;
    color: #fff!important
}

.main-nav-section .navbar-nav li .active {
    background: #1571b5;
    color: #fff
}

.main-nav-section .navbar-nav li .dropdown-menu {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none
}

.main-nav-section .navbar-nav li .dropdown-menu::after {
    position: absolute;
    width: 17px;
    height: 9px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    left: 40px;
    top: -9px;
    content: ""
}

.main-nav-section .navbar-nav li .dropdown-menu a {
    color: #5c5c5c;
    text-transform: none;
    line-height: 40px;
    border-bottom: 1px solid #e4e5e6;
    padding: 0 20px
}

.banner .slide-box {
    background-size: cover!important;
    min-height: 649px
}

.banner .slide-box .banne-cont {
    padding: 190px 0 30px;
    text-align: center
}

.banner .slide-box .banne-cont .small-head {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase
}

.banner .slide-box .banne-cont .sub-head {
    font-size: 53px;
    color: #fff;
    padding: 10px 0;
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin: 20px 0;
    line-height: 67px
}

.banner .slide-box .banne-cont .sub-desc {
    color: #e2e2e2
}

.banner .slide-box .banne-cont .link-box .link-More {
    background: #1569a8;
    padding: 15px 35px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px
}

.banner .carousel-indicators {
    bottom: 52px
}

.banner .carousel-indicators li {
    background: #fff;
    width: 25px;
    height: 6px;
    border-radius: 30px;
    border: none
}

.banner .carousel-indicators .active {
    background: #117bc0
}

.welcome-sec {
    padding: 70px 0 100px
}

.welcome-sec .welcome-content h6 {
    font-size: 14px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #7b7b7b;
    margin-bottom: 10px
}

.main-title,
.main-title span {
    font-size: 30px;
    line-height: 42px
}

.main-title,
.main-title span,
.read-more {
    text-transform: capitalize
}

.main-title,
.welcome-sec .welcome-content p {
    margin-bottom: 25px
}

.welcome-sec .welcome-content-about p {
    text-align: justify
}

.banner .banner-content,
.banner .banner-content nav,
.clients,
.footer .copyright,
.footer .follow-btm li a,
.head-style1.center-cntnt .main-title,
.head-style1.center-cntnt h6,
.speciality .special-box,
.why-choose .testimonial {
    text-align: center
}

.main-title {
    color: #202020;
    position: relative;
    padding-bottom: 12px
}

.main-title span {
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    color: #117bc0
}

.main-title:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    background: #cdd1d3;
    left: 0;
    bottom: 0;
    display: inline-block
}

.read-more {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #787777;
    position: relative;
    margin-top: 15px;
    display: inline-block
}

.read-more::after,
.read-more:hover::after {
    position: absolute;
    top: 11px;
    width: 15px;
    height: 10px;
    transition: .7s;
    content: ""
}

.read-more::after {
    right: -25px;
    background: url(../images/icon/read-more-icon.png) no-repeat
}

.read-more:hover::after {
    background: url(../images/icon/read-more-icon-blu.png) no-repeat;
    right: -30px
}

.read-more:hover {
    color: #166aa8
}

.welcome-sec .ceo-message .title {
    font-size: 16px;
    color: #787878;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase
}

.ceo-message {
    margin-left: 65px
}

.ceo-message .story-box {
    box-shadow: 16px -11px 23.28px -10.28px rgba(0, 0, 0, .13);
    background: #fff;
    padding-top: 45px;
    position: relative;
    margin-top: 15px
}

.ceo-message .img-box {
    box-shadow: 8px 0 18.61px -1.61px rgba(0, 0, 0, .19);
    float: left;
    position: absolute;
    left: -45px;
    margin-top: 25px
}

.ceo-message .content {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px
}

.ceo-message .content .read-more {
    color: #4f5459
}

.ceo-message .info {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #4f5459;
    margin-bottom: 10px
}

.ceo-message .story-footer {
    background: #031725;
    color: #fff;
    padding: 15px 0 15px 85px;
    position: relative
}

.ceo-message .story-footer::after {
    content: "";
    position: absolute;
    left: 65px;
    bottom: -25px;
    width: 19px;
    height: 25px;
    background: url(../images/icon/ceo-footer-after.png) no-repeat;
    background-size: contain;
    display: inline-block
}

.ceo-message .story-footer h5 {
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px
}

.ceo-message .story-footer h6 {
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    font-weight: 500;
    text-transform: capitalize
}

.speciality {
    padding: 50px 0;
    background: url(../images/bg/speciality.jpg) center center no-repeat fixed;
    background-size: cover;
    width: 100%
}

.speciality .special-box icon {
    display: block;
    margin-bottom: 15px;
    min-height: 56px;
    filter: brightness(0) invert(1);
    transition: ease-in-out .3s
}

.speciality .special-box:hover icon {
    filter: brightness(1) invert(0)
}

.speciality .special-box .content {
    border-right: 1px solid #354551;
    padding: 0 50px 26px
}

.speciality .special-box .title {
    font-size: 20px;
    color: #fff;
    line-height: normal;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 25px
}

.speciality .special-box p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #fff
}

.speciality .col-md-4 {
    padding: 0
}

.speciality .col-md-4:last-child .content {
    border-right: 0
}

.service-sec {
    padding: 70px 0 60px;
    border-bottom: 1px solid #e8e8e8
}

.service-sec .service-info {
    margin-bottom: 10px
}

.service-sec .service-info .main-title:after {
    display: none
}

.service-sec .service-info p {
    padding-left: 25px;
    border-left: 1px solid #cdd1d3;
    padding-top: 0
}

.service-sec .service-box {
    margin-top: 15px;
    margin-bottom: 20px
}

.service-sec .service-box .overflow {
    overflow: hidden;
    display: block
}

.service-sec .service-box .img-box {
    width: 100%;
    height: 260px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    transition: ease-in-out all .3s
}

.service-sec .service-box:hover .img-box {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    transform: scale(1.2)
}

@-webkit-keyframes flash {
    0% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}

@keyframes flash {
    0% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}

.service-sec .service-box .service-tilte {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #202020;
    padding-top: 25px;
    min-height: 85px
}

.service-sec .service-box:hover .read-more {
    color: #166aa8
}

.service-sec .service-box:hover .read-more::after {
    background: url(../images/icon/read-more-icon-blu.png) no-repeat
}

.why-choose {
    padding: 70px 0 60px
}

.why-choose .main-title {
    margin-bottom: 10px
}

.why-choose .y-choose-cntnt {
    border-right: 1px solid #e8e8e8;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 20px
}

.why-choose .y-choose-cntnt ul {
    margin-top: 15px
}

.why-choose .y-choose-cntnt ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    color: #4f5459;
    font-style: italic;
    display: inline-block;
    width: calc(100% / 2.1);
    position: relative;
    padding-left: 20px
}

.why-choose .y-choose-cntnt ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: 0 0;
    width: 9px;
    height: 9px;
    border: 2px solid #117bc0;
    border-radius: 50px
}

.why-choose .testimonial .testi-icon {
     background: url(../images/icon/testi-icon.png);

    width: 49px;
    height: 37px;
    display: block;
    margin: 0 auto
}

.clients .main-title::after,
.quick-contact-sec .contact-header .main-title::after {
    display: none
}

.why-choose .testimonial .testi-content {
    margin-top: 40px;
    margin-bottom: 35px
}

.why-choose .testimonial .testi-footer .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    color: #030303;
    text-transform: uppercase
}

.why-choose .testimonial .testi-footer .sub-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #8a8a8a;
    margin-top: 3px
}

.quick-contact-sec {
    background: url(../images/bg/quck-contact.jpg) center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    padding: 60px 0
}

.quick-contact-sec .contact-header .main-title {
    color: #fff;
    margin-bottom: 0
}

.quick-contact-sec .contact-header .info,
.quick-contact-sec .contact-header p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #fff
}

.quick-contact-sec .contact-header {
    text-align: center;
    margin-bottom: 60px
}

.form-control {
    height: 44px;
    border-radius: 0;
    padding: 1rem .75rem 1rem 25px;
    font-size: 12px;
    line-height: 19px;
    color: #717070;
    box-shadow: none;
    outline: 0;
    border: none
}

.quick-contact-sec form input.form-control {
    height: 50px
}

.quick-contact-sec form textarea.form-control {
    max-height: 105px
}

button.btn {
    background: #1569a8;
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 44px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px
}

.clients .story-box .title,
.footer .title {
    font-size: 16px
}

button.btn:hover {
    background: #1571b4
}

.clients {
    padding: 55px 0 70px
}

.clients .main-title {
    margin-bottom: 5px
}

.clients .clients-carousel-controls {
    margin-top: 65px
}

.clients .slick-slide {
    padding: 0 35px;
    border-right: 1px solid #d6d6d6;
    min-height: 104px
}

.clients .story-box .title {
    line-height: 22px;
    color: #100e15;
    margin-bottom: 10px;
    min-height: 66px
}

.clients .slick-slide img {
    padding: 0 25px;
    max-height: 50px;
    margin: 0 auto
}

.footer {
    background: url(../images/bg/footer.jpg) center bottom no-repeat fixed;
    background-size: cover;
    width: 100%;
    padding-top: 60px
}

.footer .title {
    line-height: 30px;
    font-weight: 500;
    color: #0e72b4;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 35px
}

.footer .title2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    color: #117bc0;
    margin-bottom: 10px;
    margin-top: 30px
}

.footer .foot-about .foot-logo {
    width: 155px;
    margin-bottom: 15px
}

.footer .foot-about p {
    color: #cdcdcd
}

.footer .follow-btm li {
    display: inline-block
}

.footer .follow-btm li a {
    border: 1px solid #1b2d3a;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    padding: 9px;
    display: block;
    margin-right: 10px;
    color: #8e9298;
    transition: ease-in-out 1s
}

.footer .follow-btm li a:hover {
    border-radius: 0;
    background: #1569a8;
    color: #fff
}

.footer .quick-links li a {
    font-size: 13px;
    line-height: 33px;
    font-family: Nirmala;
    font-weight: 500;
    color: #cdcdcd
}

.footer .quick-links li a:hover {
    color: #fff
}

.footer .foot-address {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #cdcdcd
}

.footer .foot-address .address {
    margin-bottom: 20px
}

.footer .foot-address .phone {
    color: #0e72b4
}

.footer .foot-address .mail {
    color: #fff
}

.footer .copyright {
    border-top: 1px solid #1a2936;
    padding: 15px 0;
    margin-top: 35px
}

.footer #copyright {
    color: #4f5459
}

.footer .copyright span {
    color: #117bc0
}

.footer .news-letter input {
    background: #1f303d;
    padding-left: 15px;
    color: #6b849c;
    outline: 0;
    box-shadow: none;
    border: none
}

.footer .news-letter .btn {
    background: url(../images/icon/read-more-icon-blu.png) center no-repeat #1f303c;
    width: 15px;
    height: 10px;
    transition: .7s;
    padding: 22px;
    box-shadow: none;
    z-index: 0
}

.footer .news-letter .btn:hover {
    background: url(../images/icon/read-more-icon-blu.png) center no-repeat #8d9298;
    width: 15px;
    height: 10px;
    padding: 22px;
    transition: ease-in-out .3s
}

.footer .dwld-brchr {
    font-size: 13px;
    line-height: 27px;
    font-family: Nirmala;
    font-weight: 500;
    color: #cdcdcd;
    text-transform: uppercase;
    background: 0 0;
    padding: 9px 41px 9px 40px;
    border-radius: 3px;
    position: relative;
    margin-top: 30px;
    display: block;
    width: fit-content;
    border: 1px solid
}

.footer .dwld-brchr::before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 11px;
    top: 14px;
    background: url(../images/icon/download.png) center no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1)
}

.inner .banner {
    background-size: cover!important;
    background-position: center center!important
}

.banner .page-title {
    font-size: 53px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    padding: 10px 30px;
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin: 8px 0;
    line-height: 67px
}

.banner .banner-content nav ol li,
.banner .banner-content nav ol li::before {
    color: #fff
}

.banner .banner-content nav ol li,
.banner .banner-content nav ol li a {
    font-family: 'Playfair Display', serif;
    line-height: 27px;
    font-size: 14px
}

.banner .banner-content {
    width: 100%;
    padding: 140px 0
}

.banner .banner-content nav {
    display: block;
    width: fit-content;
    margin: 0 auto
}

#about .our-mission .head-style1.center-cntnt .main-title:after,
#about .our-mission .mission .main-title::after,
#about .our-mission .vision .main-title::after {
    display: none
}

.banner .banner-content nav ol {
    background: 0 0;
    padding: 0
}

.banner .banner-content nav ol li a {
    color: #41aeff
}

.head-style1 h6 {
    font-size: 14px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #7b7b7b;
    margin-bottom: 10px
}

.head-style1.center-cntnt .main-title {
    margin-bottom: 50px
}

.head-style1.center-cntnt .main-title:after {
    right: 0;
    margin: 0 auto
}

#about .welcome-sec {
    padding-bottom: 70px
}

#about .welcome-sec .welcome-content p span {
    color: #fff;
    background: #117bc0;
    text-transform: uppercase;
    padding: 0 5px
}

#about .our-mission {
    background: #fafafa;
    padding: 80px 0
}

#about .our-mission .head-style1.center-cntnt .main-title,
#about .our-mission .head-style1.center-cntnt h6 {
    text-align: left
}

#about .our-mission .head-style1.center-cntnt .main-title {
    margin-bottom: 20px
}

#about .our-mission .content,
#about .our-mission .content p {
    font-size: 14px;
    line-height: 28px;
    font-family: Nirmala;
    font-weight: 500;
    color: #4f5459
}

#blog .blog-box .blog-content .blog-title,
#blog .recent-posts .box-head,
#services .left-cntnt .testi-footer .title,
#services .service-list ul li,
.blog-detail .blog-content .blog-title {
    font-family: 'Playfair Display', serif
}

#about .our-mission .mission .main-title,
#about .our-mission .vision .main-title {
    font-size: 23px;
    margin-bottom: 0
}

#about .our-mission .vision {
    padding-top: 45px
}

#services .service-sec {
    padding-bottom: 80px
}

#services .left-cntnt {
    border-right: 1px solid #117bc0
}

#services .left-cntnt .testimonial {
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 40px
}

#services .left-cntnt .testimonial .testi-icon {
     background: url(../images/icon/testi-icon.png);
    width: 49px;
    height: 37px;
    display: block;
    margin: 0 0 0 auto
}

#services .left-cntnt .testi-content {
    margin-top: 40px;
    margin-bottom: 20px;
    font-style: italic
}

#services .left-cntnt .testi-footer .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    color: #030303;
    text-transform: uppercase
}

#services .left-cntnt .testi-footer .sub-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #8a8a8a;
    margin-top: 3px
}

#services .left-cntnt .left-nav {
    text-align: right;
    padding-bottom: 75px;
    margin-top: 25px
}

#services .left-cntnt .left-nav li {
    width: 100%
}

#services .left-cntnt .left-nav li a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    background: #117bc0;
    padding: 10px 25px;
    display: block;
    text-align: right;
    margin: 0 auto 10px
}

#services .left-cntnt .left-nav li a:hover {
    background: #075a8e
}

#services .right-sec p span {
    color: #fff;
    background: #117bc0;
    text-transform: uppercase;
    padding: 0 5px
}

#services .right-sec img {
    margin-top: 40px
}

#services .main-title span {
    letter-spacing: 0
}

#services .service-list {
    padding: 65px 0 85px
}

#services .service-list ul {
    margin-top: 30px
}

#services .service-list ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    color: #4f5459;
    font-style: italic;
    display: inline-block;
    width: calc(100% / 2.1);
    position: relative;
    padding-left: 20px
}

#services .service-list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: 0 0;
    width: 9px;
    height: 9px;
    border: 2px solid #117bc0;
    border-radius: 50px
}

#why-cda .why-cda {
    padding: 70px 0 50px
}

#why-cda .content .img-box {
    margin-bottom: 30px
}

#why-cda .why-cda p {
    margin-bottom: 25px
}

#why-cda .why-cda p span {
    color: #fff;
    background: #117bc0;
    text-transform: uppercase;
    padding: 0 5px
}

#why-cda .our-team {
    background: #fafafa;
    padding: 70px 0
}

#why-cda .our-team .head-style1 {
    margin-top: 45px;
    margin-bottom: 35px
}

#why-cda .our-team .head-style1 .main-title {
    font-size: 25px
}

#why-cda .our-team p {
    padding-right: 50px;
    line-height: 28px
}

#why-cda .cprit {
    padding-right: 35px
}

#why-cda .why-choose {
    padding: 70px 0 100px
}

#blog .blog-list {
    padding: 70px 0 50px
}

#blog .blog-box {
    margin-bottom: 60px
}

#blog .blog-box .image-sec {
    position: relative
}

#blog .blog-box .image-sec .blog-date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background: #117bc0;
    text-align: center;
    padding: 4px 22px;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 20px
}

#blog .blog-box .blog-content {
    padding-top: 30px
}

#blog .blog-box .blog-content .blog-title {
    font-size: 16px;
    line-height: 30px;
    color: #202020;
    margin-bottom: 10px;
    min-height: 60px
}

#blog .blog-box .blog-content p {
    color: #777879;
    min-height: 144px
}

#blog .blog-box .blog-content .read-more {
    color: #0e0e0e
}

#blog .blog-box:hover .read-more {
    color: #166aa8
}

#blog .blog-box:hover .read-more::after {
    background: url(../images/icon/read-more-icon-blu.png) no-repeat
}

.blog-detail {
    padding: 70px 0
}

.blog-detail .blog-meta {
    padding: 25px 0
}

.blog-detail .blog-meta span {
    font-size: 13px;
    line-height: 20px;
    color: #a7a7a7;
    padding: 0 15px;
    position: relative
}

.blog-detail .blog-meta span:after {
    content: "";
    position: absolute;
    background: #a7a7a7;
    width: 1px;
    height: 10px;
    display: inline-block;
    right: 0;
    top: 5px
}

.blog-detail .blog-meta span:first-child {
    padding-left: 0
}

.blog-detail .blog-meta span:last-child {
    padding-right: 0
}

.blog-detail .blog-meta span:last-child::after {
    display: none
}

.blog-detail .blog-content .blog-title {
    font-size: 24px;
    line-height: 28px;
    color: #25439c;
    margin-bottom: 20px
}

.blog-detail .blog-content p {
    color: #7d7d7d;
    margin-bottom: 25px
}

.blog-detail .blog-content p strong {
    font-weight: 600
}

#career-page .carrer form,
#contact .ceo-message .story-box li.address {
    margin-bottom: 30px
}

.blog-detail .blog-post-control {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0
}

.blog-detail .blog-post-control .post-title {
    font-size: 15px;
    line-height: 24px;
    color: #404040;
    text-transform: capitalize;
    float: left
}

.blog-detail .blog-post-control .post-icons {
    position: relative;
    float: right;
    padding-left: 25px
}

.blog-detail .blog-post-control .post-icons::before {
    content: "";
    position: absolute;
    background: url(../images/icon/share-icon.png) center center no-repeat;
    background-size: contain;
    width: 17px;
    height: 20px;
    display: inline-block;
    left: 0;
    top: 0
}

.blog-detail .blog-post-control .post-icons ul li {
    display: inline-block
}

.blog-detail .blog-post-control .post-icons ul li a {
    font-size: 5px;
    border: 1px solid #8e8e8e;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #8e8e8e;
    padding: 4px;
    display: block;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    transition: ease-in-out .3s
}

.blog-detail .blog-post-control .post-icons ul li a i {
    font-size: 11px
}

.blog-detail .blog-post-control .post-icons ul li a:hover {
    background: #141414
}

.blog-detail .blog-post-control .post-icons ul li:last-child a {
    margin-right: 0
}

#blog .recent-posts {
    border: 1px solid #e9e9e9
}

#blog .recent-posts .box-head {
    font-size: 15px;
    color: #303130;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #e9e9e9
}

#blog .recent-posts .box-content .list {
    padding: 15px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e9e9e9
}

#blog .recent-posts .box-content .list:last-child {
    border-bottom: 0
}

#blog .recent-posts .box-content .list .img-box {
    width: 130px;
    float: left;
    margin-right: 15px
}

#blog .recent-posts .box-content .list .post-title {
    font-size: 14px;
    line-height: 20px;
    color: #3a3a3a;
    font-weight: 400
}

#blog .recent-posts .box-content .list .post-date {
    font-size: 11px;
    line-height: 20px;
    color: #a2a3a3;
    font-weight: 400
}

#contact .welcome-sec .welcome-content p span {
    color: #117bc0
}

#contact .ceo-message .story-box {
    box-shadow: 5px -1px 27.28px -2.28px rgba(0, 0, 0, .13);
    padding: 25px 125px 35px 55px
}

#contact .ceo-message .story-box li,
#contact .ceo-message .story-box li a {
    font-size: 14px;
    line-height: 28px;
    font-family: Nirmala;
    font-weight: 500;
    color: #3a3d43
}

#contact .ceo-message .story-box li.mail a,
#contact .ceo-message .story-box li.phone a,
#email-alert,
#services .service-list p strong,
.service-content p strong,
.welcome-content p strong,
.why-cda p strong {
    font-weight: 600
}

#contact .ceo-message .story-box li.mail,
#contact .ceo-message .story-box li.phone,
#contact .ceo-message .story-box li.website {
    padding-left: 30px;
    position: relative
}

#contact .ceo-message .story-box li.mail:before,
#contact .ceo-message .story-box li.phone:before,
#contact .ceo-message .story-box li.website:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px
}

#contact .ceo-message .story-box li.phone:before {
    background: url(../images/icon/contact-phone.png) center center no-repeat;
    background-size: contain
}

#contact .ceo-message .story-box li.mail:before {
    background: url(../images/icon/contact-mail.png) center center no-repeat;
    background-size: contain
}

#contact .ceo-message .story-box li.website {
    margin-top: 15px
}

#contact .ceo-message .story-box li.website:before {
    background: url(../images/icon/contact-website.png) center center no-repeat;
    background-size: contain
}

#contact .contact-map {
    filter: gray;
    -webkit-filter: grayscale(99%)
}

#contact .free-consultation {
    background: 0 0;
    border: 1px solid #4f5459;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 12px;
    color: #4f5459
}

#contact .free-consultation:hover {
    background: #107abf;
    border: 1px solid #1079be;
    color: #fff
}

#career-page .carrer {
    padding: 80px 0
}

#career-page .career-info p {
    font-size: 14px;
    line-height: 28px
}

#career-page .career-info strong {
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #646464;
    margin-top: 30px;
    display: block
}

#career-page .carrer input[type=file] {
    border: 1px solid #ddd;
    padding: 20px 15px;
    margin-top: 30px;
    outline: 0;
    box-shadow: none
}

#career-page .carrer #recaptcha {
    margin-top: 30px
}

#career-page .carrer button {
    background: #1569a8;
    border: 0;
    border-radius: 0;
    width: 170px;
    height: 44px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px
}

#career-page .carrer button:hover {
    background: #1571b4
}

#career-page .job-post {
    margin-top: 30px
}

#career-page .job-post .job-box {
    border: 1px solid #e9e9e9;
    padding: 30px
}

#career-page .job-post .job-box .job-title {
    font-size: 16px;
    color: #127bc0;
    font-weight: 600;
    padding-bottom: 10px
}

#career-page .job-post .job-box .job-post-description {
    font-size: 14px
}

#career-page .job-post .job-box .job-post-description strong {
    font-weight: 600;
    color: #5d5d5d
}

#career-page .job-post .job-box .job-post-description p {
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px
}

#career-page .job-post .job-box .job-post-description ul {
    margin-top: 15px;
    margin-left: 15px
}

#career-page .job-post .job-box .job-post-description ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    color: #4f5459;
    font-style: italic;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px
}

#career-page .job-post .job-box .job-post-description ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: 0 0;
    width: 9px;
    height: 9px;
    border: 2px solid #117bc0;
    border-radius: 50px
}

#our-team .our-team {
    background: #fafafa;
    padding: 70px 0
}

#consultation .quick-contact-sec,
.parallax-window {
    background: 0 0
}

#our-team .our-team .head-style1 {
    margin-top: 45px;
    margin-bottom: 35px
}

#our-team .our-team .head-style1 .main-title {
    font-size: 25px
}

#our-team .our-team p {
    padding-right: 50px;
    line-height: 28px
}

#our-team .cprit {
    padding-right: 35px
}

#consultation .quick-contact-sec .contact-header .main-title {
    color: #202020
}

#consultation .quick-contact-sec .contact-header .info,
#consultation .quick-contact-sec .contact-header p {
    color: #787878
}

#consultation .form-control {
    border: 1px solid
}

.scrollup {
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    position: fixed;
    bottom: 110px;
    right: 30px;
    display: none;
    background: url(../images/icon/icon_top.png) center center no-repeat #1569a8;
    border-radius: 3px
}

#email-alert {
    color: #4caf50;
    font-size: 14px;
    margin-bottom: 10px
}

.help-block {
    color: red
}

.in-not-found-section {
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 575px;
    background: url(../images/banner/banner1.jpg) center 0 no-repeat
}

.in-not-found-section .head-one {
    font-size: 120px;
    font-weight: 700;
    color: #f1efef
}

.in-not-found-section .head-two {
    font-size: 20px;
    font-weight: 600;
    color: #dedada;
    margin-bottom: 20px
}

.in-not-found-section .head-three {
    font-size: 25px;
    font-weight: 600;
    color: #dedada;
    margin-bottom: 15px
}

.in-not-found-section p {
    color: #dedada
}

.in-not-found-section .link {
    background: #1569a8;
    padding: 13px 20px;
    color: #fff;
    margin-top: 35px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500
}

.affiliates {
    background: #fafafa;
    padding: 45px 0
}

.affiliates .affiliates-certifications {
    padding: 0 10px
}

.affiliates .affiliates-certifications .certifications {
    width: calc(100% / 5);
    padding: 0 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.affiliates .affiliates-certifications .certifications * {
    vertical-align: middle
}

.affiliates .affiliates-certifications .border {
    padding: 5px
}

.affiliates .main-title {
    text-align: center;
    margin-bottom: 45px
}

.affiliates .main-title:after {
    right: 0;
    margin: 0 auto
}

#policies .welcome-content p {
    font-size: 15px;
    line-height: 28px;
    font-family: Nirmala;
    font-weight: 500;
    color: #4f5459;
    margin-bottom: 15px
}

#policies .welcome-content h1,
#policies .welcome-content h1 strong {
    font-size: 24px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content h2,
#policies .welcome-content h2 strong {
    font-size: 22px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content h3,
#policies .welcome-content h3 strong {
    font-size: 20px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content h4,
#policies .welcome-content h4 strong {
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content h5,
#policies .welcome-content h5 strong {
    font-size: 16px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content h6,
#policies .welcome-content h6 strong {
    font-size: 15px;
    font-weight: 600;
    margin: 14px 0
}

#policies .welcome-content ul {
    margin-bottom: 15px
}

#policies .welcome-content ul li {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: #4f5459;
    font-style: italic;
    position: relative;
    padding-left: 20px
}

#policies .welcome-content ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: 0 0;
    width: 9px;
    height: 9px;
    border: 2px solid #117bc0;
    border-radius: 50px
}

.blog-content ul {
    margin-bottom: 30px;
    margin-left: 20px!important;

}

.blog-content ul li {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: #7d7d7d;
    font-style: italic;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    width: 100%
}

.blog-content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: 0 0;
    width: 9px;
    height: 9px;
    border: 2px solid #117bc0;
    border-radius: 50px
}
.our-service-content p strong{
    font-weight: 600;
}


#blog .blog-detail .blog-content p {
     margin-bottom: 0px!important;
     text-align:justify!important;
}

#blog .blog-detail .blog-content h2,h3,h4 {
     margin-bottom: 10px!important;
}



.main-title1 {
    color: #202020;
    position: relative;
    padding-bottom: 12px
}

.main-title1 span {
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    color: #117bc0
}

.main-title1:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;

    left: 0;
    bottom: 0;
    display: inline-block
}


.main-title1,
.main-title1 span {
    font-size: 30px;
    line-height: 42px
}

.main-title1,
.main-title1 span,
.read-more {
    text-transform: capitalize
}

.main-title1,
.welcome-sec .welcome-content p {
    margin-bottom: 25px
}
